body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-bar {
    background-color: #90837a;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.hamburger-menu {
    font-size: 24px;
    cursor: pointer;
}

.title-container {
    text-align: center;
    flex-grow: 1;
}

.title-container h1 {
    margin: 0;
    font-size: 18px;
}

.profile-section {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
}

.profile-section i {
    font-size: 24px;
    margin-right: 5px;
}

.wrapper {
    display: flex;
    height: 100vh;
}

li {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    transition: 0.3s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu li:hover {
    background-color: #555;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f0f0f0;
}

.employee-table table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black; 
}

.employee-table th, .employee-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid black;
}

.employee-table th {
    background-color: #CFC4BC;
    color: black;
}

.employee-content {
    color: black;
    padding: 20px;
    overflow-x: auto;
    width: 100%;
}

.button-container {
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.add-button, .save-button {
    padding: 10px;
    background-color: #CFC4BC;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.add-button:hover, .save-button:hover {
    background-color: #b3a396;
}

@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 0;
        overflow: hidden;
    }

    .wrapper.active .sidebar {
        width: 200px;
    }

    .wrapper.active .content {
        margin-left: 200px;
    }
}
/* Add this to your existing CSS */

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid black;
}

.search-bar {
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    outline: none;
}

.search-button {
    background-color: #CFC4BC;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #b3a396;
}

.employee-content-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.employee-table-container, .attendance-table-container {
    overflow-y: auto;
    max-height: 300px; 
    border: 1px solid black; 
    border-radius: 8px;
    position: relative;
}

.employee-table-container::-webkit-scrollbar,
.attendance-table-container::-webkit-scrollbar {
    width: 10px;
}

.employee-table-container::-webkit-scrollbar-track,
.attendance-table-container::-webkit-scrollbar-track {
    background-color: #CFC4BC;
}

.employee-table-container::-webkit-scrollbar-thumb,
.attendance-table-container::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
}

.employee-table-container::-webkit-scrollbar-thumb:hover,
.attendance-table-container::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

.scroll-indicator {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 40px;
    background-color: #CFC4BC;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black; 
    border-radius: 8px 0 0 8px;
}

.scroll-indicator:hover {
    background-color: #b3a396;
}

.accept-button{
    background-color: lightskyblue;
    color: white;
    padding-top: 8px; 
    padding-bottom: 8px; 
    padding-left: 16px; 
    padding-right: 16px;
    border-radius: 4px;
    border: 1px solid white;
}

.decline-button{
    background-color: lightcoral;
    color: white;
    padding-top: 8px; 
    padding-bottom: 8px; 
    padding-left: 16px; 
    padding-right: 16px;
    border-radius: 4px;
    border: 1px solid white;
}
