body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-bar {
    background-color: #90837a;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.hamburger-menu {
    font-size: 24px;
    cursor: pointer;
}

.title-container {
    text-align: center;
    flex-grow: 1;
}

.title-container h1 {
    margin: 0;
    font-size: 18px;
}

.profile-section {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
}

.profile-section i {
    font-size: 24px;
    margin-right: 5px;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.content {
    flex-grow: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

li {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    transition: 0.3s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu li:hover {
    background-color: #555;
}


@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 0;
        overflow: hidden;
    }

    .wrapper.active .sidebar {
        width: 200px;
    }

    .wrapper.active .content {
        margin-left: 200px;
    }
}

.leave-request-header{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.request-leave-date{
    background-color:  #CFC4BC;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 8px;
    border: 1px solid white; 
}

.leave-content-form{
    display: flex;
    flex-wrap: column;
    padding-left: 16px;
    padding-right: 16px;
}

.form-left-column{
    flex-grow: 1;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.form-left-column label:not(:first-of-type) {
    margin-top: 32px;
}

.form-left-column input{
    padding: 16px 8px;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #CFC4BC;
}


.form-right-column{
    flex-grow: 1;
}

.send-request-btn{
    margin-top: 32px;
    background-color: #CFC4BC;
    color: solid black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.send-button-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.leave-request-status{
    border: 3px solid #CFC4BC;
    border-radius: 16px;
    padding: 32px;
    justify-content: center;
}

.leave-request-status h1{
    text-align: center;
}